<?php
    use ui\UI;
    use Scandio\lmvc\modules\assetpipeline\view\Asset;
?>

<h1>Cover letter</h1>

<section>
   <div class="personal-info">
      <ul class="inline main-intro--half">
         <li><h3>Tobias Deekens</h3></li>
         <li>Drakegatan 4</li>
         <li>412 50 Göteborg</li>
         <li>076-288 51 77</li>
         <li><a href="mailto:me@tdeekens.name">me@tdeekens.name</a></li>
      </ul>

      <ul class="inline small-intro--half">
         <li><span>Born on: </span>13.03.1987</li>
         <li><span>Born in: </span>Oldenburg, Germany</li>
         <li><span>Nationality: </span>German</li>
      </ul>
   </div>
</section>

<section>
   <article>
      <h2>To whom it may concern,</h2>
      <p>
         I am excited to hear of your available position in the field
         of Software Engineering and formally submit
         my résumé for consideration.
      </p>
      <p>
         Currently, I am finishing my MSc studies in Software Engineering
         with a thesis focusing on the adoption of agile development methodologies
         at Ericsson and hold a BSc degree in Information Systems.
      </p>
      <p>
         Even though my studies in Information Systems and Software Engineering
         can be considered to be rather distant from software technologies,
         my interest on implementation process has always remained unimpaired.
         An also recurring realization during my studies for any project circling
         around manageing a development process while working on the implementation
         with others.
         In parallel to the course of my studies I have always been an enthusiast in web
         technologies which lead to me familiarising myself with more
         and more aspects surrounding this field. Allowing me to manage
         and finish smaller private projects while also aligning my internships
         to subjects around this field.
      </p>
      <p>
         Growing up in a technology savvy family I early started perceiving working
         and learning anything around it as a hobby. All resulting in
         me genuinely caring about my works and their vision.
         Furthermore, I enjoy working in teams while interacting with others and
         their opinions to foster my learning. Traits which hopefully match
         your requirements and wishes regarding candidates for the position.
      </p>
      <p>
         I hope my application can draw your interest and I look forward hearing from you.<br />
         Thank you for your consideration.
      </p>
      <p>
         Sincerely,<br />
         <img src="<?= Asset::image(['cv/tdeekens-signature.png']) ?>" alt="Tobias Deekens" />
      </p>
   </article>
</section>
