<?php
    use ui\UI;
    use Scandio\lmvc\modules\assetpipeline\view\Asset;
?>

<h1>Cover letter</h1>

<section>
   <div class="personal-info">
      <ul class="inline main-intro--half">
         <li>
            <h3>Tobias Deekens</h3>
         </li>
         <li>Schönhauser Allee 125</li>
         <li>10437 Berlin</li>
         <li>0179 - 144 366 4</li>
         <li><a href="mailto:me@tdeekens.name">me@tdeekens.name</a></li>
      </ul>

      <ul class="inline small-intro--half">
         <li><span>Born on: </span>13.03.1987</li>
         <li><span>Born in: </span>Oldenburg, Germany</li>
         <li><span>Nationality: </span>German</li>
      </ul>
   </div>
</section>

<section>
   <article>
      <h2>To whom it may concern,</h2>
      <p>
         I am excited to hear of your available position in the field of software engineering more specifically in the
         field of Frontend and JavaScript and submit my résumé for consideration.
      </p>
      <p>
         I enjoy building meaningful and delightful browser applications which help users achieve their goals and make
         their lives easier. I enjoy engaging in all phases of a process from ideation to implementation and feature
         validation. During that journey, I specifically value the collaboration with different roles and stakeholders
         from user experience and research to eventual users while considering their perspective on a problem to create
         valuable solutions. Moreover, I do not see the frontend being limited to browsers and strive working on other
         facets such as designing adjacent APIs, gathering performance insights or usage metrics about features.
         Lastly, I am an Open Source enthusiast with a natural interest and motivation in topics around software
         engineering and am always trying to contribute back to via personal side-projects and the wider community in
         general. This allows me to try out and learn new approaches while transferring these to other projects again.
      </p>
      <p>
         Growing up in a technology savvy family I early started perceiving working and learning anything technology
         related as a hobby also resulting in me genuinely caring about my work and its vision. I support and value
         working with teams in a learning, respectful and empowered environment. I see communication as the foundation
         of how we work together and it affecting us daily during code review, pairing sessions, chats and email. Our
         ways of communicating in channel and content have an underestimated impact on us individually. Luckily we can
         all always get better at communication and shape its channels. A process I would like to be part of by
         building products changing how we communicate and share information.
      </p>
      <p>
         My résumé contains more detailed information about my previous employment, tasks as well as side projects. I
         hope my application can draw your interest and I look forward to hearing from you.<br />
         Thank you for your consideration.
      </p>
      <p>
         Sincerely,<br />
         <img src="<?= Asset::image(['cv/tdeekens-signature.png']) ?>" alt="Tobias Deekens" />
      </p>
   </article>
</section>
