<?php
    use ui\UI;
    use Scandio\lmvc\modules\assetpipeline\view\Asset;
?>

<h1>Cover letter</h1>

<section>
   <div class="personal-info">
      <ul class="inline main-intro--half">
         <li><h3>Tobias Deekens</h3></li>
         <li>Schönhauser Allee 125</li>
         <li>10437 Berlin</li>
         <li>0179 - 144 366 4</li>
         <li><a href="mailto:me@tdeekens.name">me@tdeekens.name</a></li>
      </ul>

      <ul class="inline small-intro--half">
         <li><span>Born on: </span>13.03.1987</li>
         <li><span>Born in: </span>Oldenburg, Germany</li>
         <li><span>Nationality: </span>German</li>
      </ul>
   </div>
</section>

<section>
   <article>
      <h2>To whom it may concern,</h2>
      <p>
         I am excited to hear of your available position in the field
         of Software Engineering especially the Frontend and JavaScript and submit
         my résumé for consideration.
      </p>
      <p>
         I hold a MSc degree in Software Engineering and am currently working as a
         Frontend Engineer developing and maintaining multiple Single Page Applications.
         All which are developed Test-driven, with an Agile mindset and modern tooling. 
         I am an Open Source enthusiast with a natural interest and motivation
         in topics around Frontend Development and am currently contributing back to
         multiple side-projects and the community in general.
      </p>
      <p>
         Growing up in a technology savvy family I early started perceiving working
         and learning anything technology related as a hobby all resulting in
         me genuinely caring about my works and its vision.
         Furthermore, I enjoy working in teams while interacting with others and
         their opinions to foster my learning. Traits which hopefully make me suitable
         for this position.
      </p>
      <p>
         I hope my application can draw your interest and I look forward to hear from you.<br />
         Thank you for your consideration.
      </p>
      <p>
         Sincerely,<br />
         <img src="<?= Asset::image(['cv/tdeekens-signature.png']) ?>" alt="Tobias Deekens" />
      </p>
   </article>
</section>
