<h1>Curriculum Vitae</h1>

<section>
   <div class="personal-info">
      <ul class="inline small-intro">
         <li>
            <ul class="inline">
               <li>German
                  <span>(mother tongue)</span>
               </li>
               <li>English
                  <span>(business fluent)</span>
               </li>
               <li>Swedish
                  <span>(intermediate)</span>
               </li>
               <li>French
                  <span>(intermediate)</span>
               </li>
               <li>Spanish
                  <span>(beginner)</span>
               </li>
            </ul>
         </li>
      </ul>

      <ul class="inline main-intro">
         <li>
            <h3>Sarah Grosche</h3>
         </li>
         <li>Schonensche Str. 14</li>
         <li>10439 Berlin</li>
         <li>
            <a href="mailto:sarah_grosche@posteo.net">sarah_grosche@posteo.net</a>
         </li>
      </ul>

      <ul class="inline small-intro social">
         <li>
            <a class="symbol right" href="https://www.linkedin.com/in/sarah-grosche-507431ba/" title='&#xe452;'>linkedin.com</a>
         </li>
         <li>
            <a class="print-only symbol right" href="http://tdeekens.name/curriculum-vitae/grosche" title='&#xe273;'>tdeekens.name/cv/grosche</a>
         </li>
      </ul>
   </div>
</section>

<section>
   <h2>Education</h2>

   <ul class="inline">
      <li>
         <h3>Max-Delbrück-Center for Molecular Medicine in the Helmholtz Association in Berlin, Germany
            <span class="date">Jan 2015 - expected Oct 2018</span>
         </h3>
         <p>
            PhD in Biology with focus on Bioinformatics and Genomics of Chronic Inflammation and Allergic Diseases
            <br /> PhD representative of over 300 PhD students
         </p>
      </li>
      <li>
         <h3>University of Gothenburg, Sweden
            <span class="date">Sep 2012 – Jul 2014</span>
         </h3>
         <p>
            Master of Science in Molecular Biology
         </p>
      </li>
      <li>
         <h3>University of Bayreuth
            <span class="date">Sep 2009 – Aug 2012</span>
         </h3>
         <p>
            Bachelor of Science in Biochemistry
         </p>
      </li>
   </ul>
</section>

<section>
   <h2>Research Experience</h2>

   <article class="job">
      <h3>
         <a class="em" href="https://www.mdc-berlin.de">Max-Delbrück-Center</a> for Molecular Medicine in the Helmholtz Association in Berlin, Germany
         <span class="date">Jan 2015 - present</span>
      </h3>
      <div class="subtitle">Graduate student with Prof. Young-Ae Lee</div>

      <article>
         <h4>Molecular Genetics of Chronic Inflammation and Allergic Disease</h4>
         <ul>
            <li>
               Identified common
               <span>single-nucleotide polymorphisms</span> underlying food allergy susceptibility</li>
            <li>
               Examined the
               <span>association of rare genetic variants</span> with atopic dermatitis development</li>
            <li>
               Executed the analysis of
               <span>parent-of-origin and maternal genotype effects</span> in atopic dermatitis patients</li>
            <li>
               Leading role in
               <span>project coordination</span> of international consortium on rare variation associated with
               <span>atopic dermatitis</span>
            </li>
         </ul>
      </article>
   </article>

   <article class="job">
      <h3>
         <a class="em" href="http://www.bric.ku.dk">Biotech Research and Innovation Center</a>, University of Copenhagen Copenhagen in Denmark
         <span class="date">Sep 2014 - Dec 2014</span>
      </h3>
      <div class="subtitle">Internship with Assoc. Prof. Claus Stoorgaard Sørensen</div>

      <article class="job2">
         <h4>Maintenance of Genomic Stability in Mammalian Cells</h4>
         <ul>
            <li>
               Performed
               <span>knock-down of cell cycle genes</span> in zebrafish using Morpholino oligomers</li>
            <li>
               Performed
               <span>confocal fluorescence microscopy</span> to visualize mitosis in zebrafish embryos</li>
         </ul>
      </article>
   </article>

   <article class="job">
      <h3>
         <a class="em" href="http://www.bric.ku.dk">Biomedical Research Center (CIBO)</a> in Guadalajara Mexico
         <span class="date">Jul 2011 - Aug 2011</span>
      </h3>
      <div class="subtitle">Internship with Dr. Martha Patricia Gallegos Arreola</div>

      <article class="job2">
         <h4>Molecular Genetics of Cancer</h4>
         <ul>
            <li>
               Studied
               <span>codon 72 polymorphism in TP53 gene</span> in Mexican patients with prostate cancer using PCR</li>
         </ul>
      </article>
   </article>

   <article class="job">
      <h3>
         <a class="em" href="http://www.bric.ku.dk">Biotech Research and Innovation Center</a>, University of Copenhagen Copenhagen in Denmark
         <span class="date">Sep 2014 - Dec 2014</span>
      </h3>
      <div class="subtitle">Internship with Assoc. Prof. Claus Stoorgaard Sørensen</div>

      <article class="job2">
         <h4>Maintenance of Genomic Stability in Mammalian Cells</h4>
         <ul>
            <li>
               Performed
               <span>knock-down of cell cycle genes</span> in zebrafish using Morpholino oligomers</li>
            <li>
               Performed
               <span>confocal fluorescence microscopy</span> to visualize mitosis in zebrafish embryos</li>
         </ul>
      </article>
   </article>

   <article class="job">
      <h3>
         <a class="em" href="http://www.bric.ku.dk">Biomedical Research Center (CIBO)</a> in Guadalajara Mexico
         <span class="date">Jul 2011 - Aug 2011</span>
      </h3>
      <div class="subtitle">Internship with Dr. Martha Patricia Gallegos Arreola</div>

      <article class="job2">
         <h4>Molecular Genetics of Cancer</h4>
         <ul>
            <li>
               Studied
               <span>codon 72 polymorphism in TP53 gene</span> in Mexican patients with prostate cancer using PCR</li>
         </ul>
      </article>
   </article>
</section>

<section>
   <h2>Publications</h2>

   <article>
      <p>
         Marenholz* and Grosche*
         <i>et al.</i> Genome-wide association study identifies the SERPINB gene cluster as a susceptibility locus for food
         allergy.
         <i>Nat. Commun.</i>
         <strong>8</strong>, 1056 (2017).
      </p>
      <p>
         Ferreira
         <i>et al.</i>, Shared genetic origin of asthma, hay fever and eczia elucidates allergic disease biology.
         <i>Nat. Genet.</i>
         <strong>49</strong>, 1752-1757 (2017).
      </p>
      <p>Asai
         <i>et al.</i>, Canadian genome-wide association study and meta-analysis confirm
         <i>HLA</i> as a risk factor for peanut allergy independent of asthma. JACI 2018 (in press).</p>

      <sub>* equal contribution</sub>
   </article>
</section>

<section>
   <h2>Conferences & Presentations</h2>

   <article>
      <h3>
         <em>Wollenberger Seminar Series</em> in Berlin, Germany
         <span class="date">Sep 2017</span>
      </h3>
      <p>
         Givig
         <strong>Scientific Talk</strong> at Max-Delbrück-Center for Molecular Medicine In the Helmholtz Association.
      </p>
   </article>

   <article>
      <h3>
         <em>Genomics of Common Diseases Conference</em> in Hinxton, United Kingdom
         <span class="date">Sep 2017</span>
      </h3>
      <p>
         Performing a
         <strong>Poster Presentation</strong> at Wellcome Trust Sanger Institute.
      </p>
   </article>

   <article>
      <h3>
         <em>Food Allergy and Anaphylaxis Meeting</em> in Rome, Italy
         <span class="date">Oct 2016</span>
      </h3>
      <p>
         Performing a
         <strong>Poster Presentation</strong> at European Academy of Allergy and Clinical Immunology.
      </p>
   </article>

   <article>
      <h3>
         <em>Pediatric Allergy and Asthma Meeting</em> in Berlin, Germany
         <span class="date">Oct 2015</span>
      </h3>
      <p>
         European Academy of Allergy and Clinical Immunology Oct 2015.
      </p>
   </article>
</section>

<section>
   <h2>Skills & Techniques</h2>

   <article class="one-half">
      <h3>Bioinformatic Expertise</h3>
      <ul>
         <li>Programming languages: R, Python, Bash
         </li>
         <li>Big data analysis</li>
         <li>Usage of UNIX environment
         </li>
         <li>Usage of High-Performance Computing Cluster environment
         </li>
         <li>Design and analysis of genetic based association studies
         </li>
         <li>Statistical analysis of genomic data
         </li>
      </ul>
   </article>

   <article class="one-half">
      <h3>Experimental Expertise</h3>
      <ul>
         <li>Basic molecular biology techniques (DNA/RNA Extractions, Molecular Cloning, Q-PCR & Western-Blotting)
         </li>
         <li>
            Taq-Man Genotyping
         </li>
         <li>DNA-Sequencing</li>
         <li>Chromatin-Conformation Capture</li>
         <li>Light- and Confocal Fluorescence Microscopy</li>
      </ul>
   </article>
</section>

<section>
   <h2>Extracurricular engagement</h2>

   <article>
      <h3>PhD representative
         <span class="date">Jan 2016 – Jan 2018</span>
      </h3>

      <p>
         Max-Delbrück Center for Molecular Medicine in the Helmholtz Association
      </p>
   </article>

   <article>
      <h3>Chairman of Biotechnological Student Initiative Bayreuth
         <span class="date">Jan 2009 – Jul 2013</span>
      </h3>
      <p>
         University of Bayreuth
      </p>
   </article>
</section>
