<h1>Curriculum Vitae</h1>

<div class="personal-info">
   <ul class="inline small-intro">
      <li><span>Born on: </span>13.03.1987</li>
      <li><span>Born in: </span>Oldenburg, Germany</li>
      <li><span>Nationality: </span>Germany</li>
      <li>
         <ul class="inline">
            <li>German <span>(native speaker)</span></li>
            <li>Dutch <span>(native speaker)</span></li>
            <li>English <span>(business fluent)</span></li>
            <li>Swedish <span>(beginner, A1)</span></li>
         </ul>
      </li>
   </ul>

   <ul class="inline main-intro">
      <li><h3>Tobias Deekens</h3></li>
      <li>Studiegången 3</li>
      <li>416 81 Göteborg</li>
      <li>T 076-288 51 77</li>
      <li><a href="mailto:me@tdeekens.name">me@tdeekens.name</a></li>
   </ul>

   <ul class="inline small-intro social">
      <li><a class="symbol right" href="http://github.com/tdeekens" title='&#xe437;'>github.com/tdeekens</a></li>
      <li><a class="symbol right" href="http://www.linkedin.com/pub/tobias-deekens/76/b00/197" title='&#xe452;'>linkedin.com/in/tdeekens</a></li>
      <li><a class="symbol right" href="http://tdeekens.name" title='&#xe471;'>tdeekens.name</a></li>
      <li><a class="symbol right" href="http://tdeekens.name/curriculum-vitae" title='&#xe273;'>tdeekens.name/cv</a></li>
   </ul>
</div>

<section>
   <h2>Profile</h2>
   <p>
      Master of Science student in Software Engineering with a Bachelor of Science in Information Systems. Pratical experience in web development and software engineering. Dedicated autodidact in web development who loves expanding his knowledge in technology. Considers web development and technologies surrounding it being a personal hobby applying his knowledge in side projects while following the latest buzz on the web and OpenSource from Node.js to HTML5. Looks forward to apply the foundation built by his studies to new challenges while enjoying working in dynamic teams.
   </p>
</section>

<section>
   <h2>Education</h2>

   <ul class="inline">
      <li>
         <h3>Gothenburg University (Chalmers), Sweden</h3>
         <p>
            Master of Science in Software Engineering - September 2012 until September 2014 (expected)
         </p>
      </li>
      <li>
         <h3>University of Keele, United Kingdom</h3>
         <p>
            Study abroad year - September 2010 until April 2011
         </p>
      </li>
      <li>
         <h3>University of Bamberg, Germany</h3>
         <p>
            Bachelor of Science in Information Systems - October 2007 until March 2012
         </p>
      </li>
   </ul>
</section>

<section>
   <h2>Work experience</h2>

   <article>
      <h3>Summerjob at Scandio GmbH in Munich, Germany — July 2013 - September 2013</h3>
      <p>
         Working as a <strong>PHP and JavaScript developer</strong>. Mainly extending and maintaining Scandio's <strong>Open Source portfolio</strong> in scandiojs, lmvc and lmvc-modules while also working with <strong>Drupal</strong> and <strong>Solr</strong>.
      </p>
   </article>

   <article>
      <h3>Internship at zweitwerk GmbH in Hamburg, Germany — April 2012 - October 2012</h3>
      <p>
         Continuation of work after finishing bachelor thesis. Evolving the previously designed prototype and <strong>developed a data administration application</strong> for the the product database. Gaining more experience with <strong>data exchange formats</strong> and <strong>interface specifications</strong>, modern web development using <strong>HTML5/CSS3</strong>, <strong>JavaScript</strong> and related frameworks (Backbone.js, martionette.js and jQuery). Also partly worked on daily development of other products such as image uploading and batch data imports.
      </p>
   </article>

   <article>
      <h3>Internship at zweitwerk GmbH in Hamburg, Germany — July 2011 - January 2011</h3>
      <p>
         Combined experience in working on zweitwerk's products (PHP, JavaScript) while performing research and writing on an integrated <strong>bachelor thesis</strong>. The thesis by the topic ”Schema-agnostic data storage in a relational DBMS - a comparative examination” entailed a systematic comparison of <strong>NoSQL</strong> (BigTable, Dynamo and MongoDB) and <strong>SQL</strong> (MySQL and Oracle) databases while performing benchmarks and developing an backend angostic <strong>proof-of-concept prototype</strong> of a product database with an API-centric integration for an media asset management system (<a href="http://www.zweitwerk.de/produkte/jadis_media.phtml">jadis.net</a>).
      </p>
   </article>

   <article>
      <h3>Student Assistant at University Bamberg, Germany  — May 2009 - April 2010</h3>
      <p>
         Working on project Cadena in designing and implementing a <strong>SaaS</strong> supporting elderly care services build upon <strong>Adobe Flex®, ActionScript, Flash Media Server and PHP</strong> (Zend backed). The applications' features included <strong>video conferences</strong> between care service and a retiree and <strong>administration of clinical records</strong>. My duties included implementation and <strong>testing of a PHP-based backend</strong> for the client applications Cadena.Senior, Cadena.Friends and Cadena.Assistence. Also took part in designing and implementing <strong>client applications written in Adobe Flex®</strong> and server side logic on a Flash Media Server for video conference calls between client applications.
      </p>
   </article>
</section>

<section>
   <h2>Skills & knowledge</h2>

   <article class="one-half">
      <h3>Programming languages</h3>
      <ul>
         <li>PHP <span>(advanced)</span></li>
         <li>JavaScript and CoffeScript <span>(advanced)</span></li>
         <li>Java <span>(basic)</span></li>
         <li>Objective-C <span>(basic)</span></li>
         <li>ActionScript <span>(basic)</span></li>
      </ul>
   </article>

   <article class="one-half">
      <h3>Frameworks & development stacks</h3>
      <ul>
         <li>Zend, Symphony and lmvc <span>(PHP)</span></li>
         <li>Node.js, Backbone.js, Marionette.js and jQuery <span>(JavaScript)</span></li>
         <li>CSS3, SASS and LESS <span>(CSS)</span></li>
         <li>MySQL, SQLite, PostgreSQL, MongoDB, Solr and Redis <span>(Databases)</span></li>
         <li>Git and SVN <span>(Version Control)</span></li>
         <li>Grunt and ANT <span>(Build Tools)</span></li>
      </ul>
   </article>
</section>

<section>
   <h2>Projects</h2>

   <article>
      <h3><a href="https://github.com/sep007">SEP007 Patat</a> - A University web development project (2013)</h3>
      <p>
         Development of a small <strong>repsonsive web application</strong> on both front- end backend helping to find restaurants near by with automatic geo-location services.
      </p>

      <h3><a href="http://tdeekens.name">tdeekens.name</a> - My personal blog (2013)</h3>
      <p>
         Personal blog (a <strong>static site generator</strong>) and playground custom built from ground up using <a href="https://gitub.com/lmvc">lmvc</a> and <a href="https://gitub.com/lmvc-modules">lmvc-modules</a>.
      </p>

      <h3><a href="https://github.com/scandio/scandiojs">scandiojs</a> - A JavaScript utility libarary</h3>
      <p>
         An independent <strong>JavaScript library</strong> incorporating common patterns and problem abstractions helping <a href="http://scandio.de">Scandio GmbH</a> to like JavaScript again.
      </p>

      <h3><a href="https://github.com/scandio/lmvc-modules">lmvc-modules</a> - A module library for lmvc (2013)</h3>
      <p>
         A set of modules implementing common functionalities and tasks of web applications such as an <a href="https://github.com/scandio/lmvc-modules/tree/master/lib/Scandio/lmvc/modules/assetpipeline"><strong>Asset Pipeline</strong></a>, <a href="https://github.com/scandio/lmvc-modules/tree/master/lib/Scandio/lmvc/modules/session"><strong>Session Management</strong></a> or generating <a href="https://github.com/scandio/lmvc-modules/tree/master/lib/Scandio/lmvc/modules/htmltag"><strong>Html-tags</strong></a> convienently.
      </p>

      <h3><a href="https://github.com/opfo/app">CodeStream</a> - University project of an iOS application (2013)</h3>
      <p>
         University project porting <stong>Stack Overflow's</stong> functionality to an <strong>iOS application</strong>. Includes most features offered by their website.
      </p>

      <h3><a href="http://deschoenenfabriek.nl">deschoenenfabriek.nl</a> - Internet presence for shoe retailer in the Netherlands (2013)</h3>
      <p>
         Design and implementation of a <strong>responsive single-page</strong> website for “De Schonenefabriek” a growing retailer selling high quality shoes online and in Groningen.
      </p>

      <h3><a href="http://bw-basketball.de">bw-basketball.de</a> - A club website for my former Basketball team (2012)</h3>
      <p>
         Built a <strong>CMS-backed website</strong> for my former Basketball team. Includes an automatic updating schedule, a news section and the usual information.
      </p>

      <h3><a href="http://cafe-riffelmacher.de">cafe-riffelmacher.de</a> - Internet presence for a Café in Bamberg (2011)</h3>
      <p>
         In collaboration with the café's owners, designed and implemented a <strong>simple website</strong> showing all their offerings.
      </p>
   </article>
</section>

<section>
   <h2>Community service</h2>

   <article>
      <h3>Alternative service at youth hostel on Sylt, Germany — August 2006 - May 2007</h3>
      <p>
         Taking over house keeper duties, kitchen ancillary tasks and working with kids.
      </p>
   </article>
</section>

<section>
   <h2>Extracurricular</h2>

   <article>
      <h3>Basketball and sports</h3>
      <p>
         Been activly engaged in teams and clubs since the age of nine playing in every city. Helping clubs, taking over coaching at times and just enjoying being around a team while playing at a high level.
      </p>
   </article>

   <article>
      <h3>Guitar and music</h3>
      <p>
         Picked up the guitar as an autodicat learning to play for three years now. Recently been taking lessons and working towards the ultimate goal of playing in a band.
      </p>
   </article>
</section>