<h1>Curriculum Vitae</h1>

<section>
   <div class="personal-info">
      <ul class="inline small-intro">
         <li><span>Born on: </span>13.03.1987</li>
         <li><span>Born in: </span>Oldenburg, Germany</li>
         <li><span>Nationality: </span>German</li>
         <li>
            <ul class="inline">
               <li>German <span>(native speaker)</span></li>
               <li>Dutch <span>(native speaker)</span></li>
               <li>English <span>(business fluent)</span></li>
               <li>Swedish <span>(beginner, A1)</span></li>
            </ul>
         </li>
      </ul>

      <ul class="inline main-intro">
         <li><h3>Tobias Deekens</h3></li>
         <li>Drakegatan 4</li>
         <li>412 50 Göteborg</li>
         <li>076-288 51 77</li>
         <li><a href="mailto:me@tdeekens.name">me@tdeekens.name</a></li>
      </ul>

      <ul class="inline small-intro social">
         <li><a class="symbol right" href="http://github.com/tdeekens" title='&#xe437;'>github.com</a></li>
         <li><a class="symbol right" href="http://www.linkedin.com/pub/tobias-deekens/76/b00/197" title='&#xe452;'>linkedin.com</a></li>
         <li><a class="symbol right" href="http://tdeekens.name" title='&#xe471;'>tdeekens.name</a></li>
         <li><a class="symbol right" href="http://tdeekens.name/curriculum-vitae" title='&#xe273;'>tdeekens.name/cv</a></li>
      </ul>
   </div>
</section>

<section>
   <article>
      <h2>Profile</h2>
      <p>
         MSc student in Software Engineering with a BSc in Information Systems. Pratical experience in web development and Software Engineering. Dedicated autodidact in web development who loves expanding his knowledge in technology. Open Source ethusiast who enjoys working on little side projects while following the latest buzz in web development from Node.js to PHP. Feels great joy in taking up challenges while working in teams closely related to development. Currently finishing his MSc working on a thesis in cooperation with Ericsson in Gothenburg related to organizational structures and agile at scale.
      </p>
   </article>
</section>

<section>
   <h2>Education</h2>

   <ul class="inline">
      <li>
         <h3>Gothenburg University (Chalmers), Sweden <span class="date">September 2012 - September 2014</span></h3>
         <p>
             Master of Science in Software Engineering
         </p>
      </li>
      <li>
         <h3>University of Keele, United Kingdom <span class="date">September 2010 - April 2011</span></h3>
         <p>
            Study abroad year
         </p>
      </li>
      <li>
         <h3>University of Bamberg, Germany <span class="date">October 2007 - March 2012</span></h3>
         <p>
            Bachelor of Science in Information Systems
         </p>
      </li>
   </ul>
</section>

<section>
   <h2>Work experience</h2>

   <article>
      <h3>Thesis work at <a href="http://www.ericsson.com">Ericsson AB</a> in Gothenburg, Sweden <span class="date">February 2014 - September 2014</span></h3>
      <p>
         Investigating Ericsson's adoption of <strong>Agile Software Development</strong> within their <strong>organizational structure</strong> in regards to communication flow and blockages by the empowerment of cross-functional teams.
      </p>
   </article>

   <article>
      <h3>Summerjob at <a href="http://www.scandio.de">Scandio GmbH</a> in Munich, Germany <span class="date">July 2013 - September 2013</span></h3>
      <p>
         Scandio GmbH is a medium sized web-consultancy firm. Working as a <strong>PHP and JavaScript developer</strong> mainly extending and maintaining Scandio's <strong>Open Source portfolio</strong> in <a href="https://github.com/scandio/scandiojs">scandiojs</a>, <a href="https://github.com/scandio/lmc">lmvc</a> and <a href="https://github.com/scandio/lmvc-modules">lmvc-modules</a>. Also engaged in daily development working with <strong>Drupal</strong> and <strong>Solr</strong>.
      </p>
   </article>

   <article>
      <h3>Internship at <a href="http://www.zweitwerk.de">zweitwerk GmbH</a> in Hamburg, Germany <span class="date">April 2012 - October 2012</span></h3>
      <p>
         Continuation of work after finishing bachelor thesis. Evolving the previously designed prototype <strong>developing a data administration application</strong>. Gaining more experience with modern web development using <strong>HTML5/CSS3</strong>, <strong>JavaScript</strong> and related frameworks (Backbone.js, martionette.js and jQuery). Also partly worked on daily development of other products.
      </p>
   </article>

   <article>
      <h3>Thesis work at <a href="http://www.zweitwerk.de">zweitwerk GmbH</a> in Hamburg, Germany <span class="date">July 2011 - January 2012</span></h3>
      <p>
         Combined experience in working at zweitwerk while performing research and writing on an integrated <strong>bachelor thesis</strong>. The thesis entailed a systematic comparison of <strong>NoSQL</strong> (BigTable, Dynamo and MongoDB) and <strong>SQL</strong> (MySQL and Oracle) databases while performing benchmarks and developing an backend angostic <strong>proof-of-concept prototype</strong> of a product database for their media asset management system.
      </p>
   </article>

   <article>
      <h3>Student Assistant at University Bamberg, Germany  <span class="date">May 2009 - April 2010</span></h3>
      <p>
         Working on project Cadena in designing and implementing a <strong>Software as a Service</strong> supporting elderly care services build upon <strong>Adobe Flex®, ActionScript, Flash Media Server and PHP</strong> (Zend backed). The application's features included video conferences between care service and a retiree and administration of clinical records. My duties included implementation and <strong>testing of a PHP-based backend</strong> as well as working on every part of the front end.
      </p>
   </article>

   <article>
      <h3>Community service at youth hostel on Sylt, Germany <span class="date">August 2006 - May 2007</span></h3>
      <p>
        Declined military service and moved to Sylt for civil duty instead. Taking over house keeper duties, kitchen ancillary tasks and working with children during field trips and workshops.
      </p>
   </article>
</section>

<section class="page-break">
   <h2>Skills & knowledge</h2>

   <article class="one-half">
      <h3>Programming languages</h3>
      <ul>
         <li>PHP <span>(advanced)</span></li>
         <li>JavaScript and CoffeScript <span>(advanced)</span></li>
         <li>Java <span>(intermediate)</span></li>
         <li>ActionScript & MXML <span>(intermediate)</span></li>
         <li>Objective-C <span>(basic)</span></li>
      </ul>
   </article>

   <article class="one-half">
      <h3>Development stacks</h3>
      <ul>
         <li>Zend, Symphony and lmvc <span>(PHP)</span></li>
         <li>Node.js, Backbone.js, Marionette.js and jQuery <span>(JavaScript)</span></li>
         <li>CSS3, SASS and LESS <span>(CSS & Preprocessors)</span></li>
         <li>Oracle, MySQL, SQLite, PostgreSQL, MongoDB, Solr and Redis <span>(Databases)</span></li>
         <li>Git and SVN <span>(Version Control)</span></li>
         <li>Grunt and ANT <span>(Build Tools)</span></li>
         <li>PHPUnit, Jasmine, TravisCI and Coveralls <span>(Testing & CI)</span></li>
      </ul>
   </article>
</section>

<section>
   <h2>Projects</h2>

   <article>
      <h3><a href="https://github.com/sep007">SEP007 Patat</a> - A University web development project <span class="date">late 2013</span></h3>
      <p>
         Development of a small <strong>responsive web application</strong> on both front- and back end helping in finding restaurants near by with automatic geo-location services.
      </p>

      <h3><a href="http://tdeekens.name">tdeekens.name</a> - My personal blog <span class="date">late 2013</span></h3>
      <p>
         Personal blog (a <strong>static site generator</strong>) and playground custom built from ground up using <a href="https://gitub.com/lmvc">lmvc</a> and <a href="https://gitub.com/lmvc-modules">lmvc-modules</a>.
      </p>

      <h3><a href="https://github.com/scandio/scandiojs">scandiojs</a> - A JavaScript utility libarary <span class="date">mid 2013</span></h3>
      <p>
         An independent <strong>JavaScript library</strong> incorporating common patterns and problem abstractions helping <a href="http://scandio.de">Scandio GmbH</a> to like JavaScript again.
      </p>

      <h3><a href="https://github.com/scandio/lmvc-modules">lmvc-modules</a> - A module library for lmvc <span class="date">mid 2013</span></h3>
      <p>
         A set of modules implementing common functionalities and tasks of web applications such as an <a href="https://github.com/scandio/lmvc-modules/tree/master/lib/Scandio/lmvc/modules/assetpipeline"><strong>Asset Pipeline</strong></a>, <a href="https://github.com/scandio/lmvc-modules/tree/master/lib/Scandio/lmvc/modules/session"><strong>Session Management</strong></a> or generating <a href="https://github.com/scandio/lmvc-modules/tree/master/lib/Scandio/lmvc/modules/htmltag"><strong>Html-tags</strong></a> convienently.
      </p>

      <h3><a href="https://github.com/opfo/app">CodeStream</a> - University project of an iOS application <span class="date">early 2013</span></h3>
      <p>
         University project porting <stong>Stack Overflow's</stong> functionality to an <strong>iOS application</strong> - provides a decent subset of StackOverflow's features.
      </p>

      <h3><a href="http://deschoenenfabriek.nl">deschoenenfabriek.nl</a> - Internet presence for shoe retailer in the Netherlands <span class="date">early 2013</span></h3>
      <p>
         Design and implementation of a <strong>responsive single-page</strong> website for “De Schonenefabriek” a growing retailer selling high quality shoes online and locally in Groningen, Netherlands.
      </p>

      <h3><a href="http://bw-basketball.de">bw-basketball.de</a> - A club website for my former Basketball team <span class="date">mid 2012</span></h3>
      <p>
         Built a <strong>CMS backed website</strong> for my former Basketball team. Includes an automatic updating schedule, a news section and the usual information.
      </p>

      <h3><a href="http://cafe-riffelmacher.de">cafe-riffelmacher.de</a> - Internet presence for a Café in Bamberg <span class="date">mid 2011</span></h3>
      <p>
         In collaboration with the café’s owners, designed and implemented a <strong>simple CMS backed website</strong> showing all their offerings.
      </p>
   </article>
</section>

<section class="no-print">
   <h2>University courses</h2>

   <section>
      <article class="one-half">
         <h3>University of Gothenburg</h3>
         <ul>
            <li>Software Project and Quality Management</li>
            <li>Requirements Engineering</li>
            <li>Empirical Software Engineering</li>
            <li>Testing, Debugging and Verification</li>
            <li>Model Driven Engineering</li>
            <li>Advanced Software Architecting</li>
            <li>Model-Based Testing</li>
            <li>Agile Development Processes</li>
            <li>Software Evolution Project</li>
            <li>Interaction Design Methodology</li>
            <li>Functional Programmering</li>
         </ul>
      </article>

      <article class="one-half">
         <h3>Keele University</h3>
         <ul>
            <li>IT Architectures</li>
            <li>Marketing Management</li>
            <li>Computational Intelligence</li>
            <li>Social Theory at Work</li>
            <li>Web Technologies</li>
            <li>Introduction to scientific working methods</li>
         </ul>
      </article>
   </section>

   <section>
      <article class="one-half">
         <h3>Otto-Friedrich-Universität Bamberg</h3>
         <ul>
            <li>Civil Law</li>
            <li>Java Technologies for Web Applications</li>
            <li>Technology Assessment</li>
            <li>Information and Knowledge Management</li>
            <li>International Management</li>
            <li>Basics in Human Resources & Organization I</li>
            <li>Cost, Revenue and Profit Controlling</li>
            <li>Computer- & Operating Systems</li>
            <li>Multimedia Technology</li>
            <li>Operations Research I</li>
            <li>Decision Theory</li>
            <li>Introduction to Economics</li>
            <li>Software Engineering</li>
            <li>Statistical Methods II</li>
            <li>Presentation Skills and Techniques</li>
            <li>Principles of Financial and Managerial Accounting (Bookkeeping)</li>
         </ul>
      </article>

      <article class="one-half">
         <h3>&nbsp;</h3>
         <ul>
            <li>Modelling of Business Information Systems</li>
            <li>Electronic Business</li>
            <li>Lab in System Development</li>
            <li>Statistical Methods I</li>
            <li>Production & Logistics Management I</li>
            <li>Algorithms and Data Structures</li>
            <li>Data Management Systems</li>
            <li>Development and utilization of Application Systems</li>
            <li>English for Economists II</li>
            <li>English for Economists I</li>
            <li>Mathematics for Economists II</li>
            <li>Mathematics for Economists I</li>
            <li>Discrete Foundations</li>
            <li>Introduction to Computer Science</li>
            <li>Practical Introduction into Java</li>
            <li>Foundations of Business Information Systems</li>
         </ul>
      </article>
   </section>
</section>

<section>
   <h2>Extracurricular activities</h2>

   <article>
      <h3>Basketball and sports</h3>
      <p>
         Been activly engaged in teams and clubs since the age of nine playing in every city. Helping clubs, taking over coaching at times and just enjoying being around a team while playing at a high level. Recently been focussing more on guitar than basketball.
      </p>
   </article>

   <article>
      <h3>Guitar and music</h3>
      <p>
         Picked up the guitar as an autodicat learning to play for three years now. Recently been taking lessons and working towards the ultimate goal of playing in a band.
      </p>
   </article>
</section>