@import '../components/normalize.scss/normalize';
@import "../components/bourbon/app/assets/stylesheets/bourbon";
@import "grid-settings";
@import "../components/neat/app/assets/stylesheets/neat";

@import "_fonts";

html {
   background-color: #fff;
   color: #333;
}

body {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 17px;
   line-height: 1.6;
   font-family: Baskerville;
   word-wrap: break-word;
   text-align: justify;
}
.header-bg {
   @include box-shadow(inset 0 0 15px hsla(0, 0%, 0%, 0.8));

   background: url(../img/header-1.jpg) 50% 0 repeat fixed;

   height: 200px;
   margin-top: 60px;
   background-repeat : no-repeat;
   -moz-background-size : cover;
   -o-background-size : cover;
   background-attachment : fixed;
}
.sticky-header {
   position:fixed;
   top:0;
   left: 10%;
   z-index:1000;
   width: 100%;
}
.header-meta {
   @include span-columns(12 of 12);

   & h1 {
      margin: 10px 0;
      padding: 0;
   }

   .social-media {
      float:right;
      font-size: 1.3em;
      margin: 10px 0;

      a {
         color: black;

         &:hover {
            border: 0;
         }
      }
   }
}
div.navigation {
   @include span-columns(12 of 12);

   text-align: center;
   border-bottom: 1px solid black;

   ul {
      & li {
         list-style-type: none;
         display: inline;
         margin: 0 3px
      }
   }

   & a {
      color: rgb(0, 0, 0);
      font: 2px/3px {
         size: 1.5em;
         weight: bold;
      }

      &:hover {
         border: 0;
         color: hsla(0, 0%, 50%, 1)
      }
   }
}
div.wrap-outer {
   @include outer-container;

   div.content-body {
      @include span-columns(12 of 12);

      .activity-posts {
         @include span-columns(6 of 12);
         @include omega;
      }

      .activity-songs {
         @include span-columns(6 of 12);
         @include omega;
      }

      article {
         @include span-columns(8 of 12);
         @include shift(2);
      }

      .foot-note {
         font-size: .7em;
      }
   }
}
header {
   @include linear-gradient(to top, hsla(0, 0, 99%, .75), hsla(0, 0, 80%, .99));

   position:fixed;
   top:0;
   left: 0;
   z-index:1000;
   width: 100%;
   display:none;

   height: 25px;
}
footer {
   @include linear-gradient(to top, hsla(0, 0, 80%, .75), hsla(0, 0, 99%, .99));

   position:fixed;
   bottom:0;
   left: 0;
   z-index:1000;
   width: 100%;
   display:none;

   height: 25px;
}
h1, h2, h3, h4, h5, h6 {
   text-align: left;
   font-family: 'MyriadPro-SemiExt';
}

h1, h2, h3 {
   margin: 15px 0 5px 0;
}

h1 {
   font-family: 'MyriadPro-Bold';
   font-weight: 100;
   padding: 10px 0 0 0;
   font-size: 170%;
}

h2 {
   padding: 5px 0 0 0;
   font-size: 135%;
}

h3 {
   margin: 15px 0 0 0;
   font-weight: normal;
   font-size: 115%;
}

h4 {
   font-size: 120%;
}

h5 {
   font-size: 100%;
}

h6 {
   font-style: italic;
   font-size: 100%;
}
.massivly-fat {
   font-weight: normal;
}
.incredibly-thin {
   font-family: MyriadPro-LightSemiExt;
}
p {
   margin-top: 0;
   padding-top: 0;
   margin-bottom: 10px;
}

pre, code {
   white-space: pre-wrap;
}

a, a:active, a:visited {
   color: rgb(81, 121, 203);
   text-decoration: none;
}

a:hover {
   border-bottom: 1px dotted rgb(81, 121, 203);
}