<?php
    use ui\UI;
    use Scandio\lmvc\modules\assetpipeline\view\Asset;
?>

<h1 class='content-title'>So much to read and so little time</h1>

<p>
  This is me recaping and noticing how little I remember of the good things I read over time. As soon as somebody found an interessting read in this section, it has clearly done its duty.
</p>

<h2>To be updated with old ’n new...</h2>

<div class="books">
   <?php foreach($books as $book): ?>
      <div class="book">
        <div class="cover">
           <img src="<?= Asset::image('books/' . $book->file. '.jpg', ['h' => 250, 'w' => 150]) ?>" alt="">
        </div>
        <div class="description">
           <a class="symbol" href="<?= $book->amazon ?>" title='&#xe203;'></a>
           <?= Asset::markdown($book->file . '.md', ['path' => 'books'], true) ?>
        </div>
      </div>
   <?php endforeach; ?>
</div>