<h1>I love it, you might hate it. It's music</h1>

<ul class='yt-songs'>
   {{# songs}}
      <li>
         <a data-hash='{{ hash }}' href="http://youtu.be/{{ hash }}">
            {{ title }}
         </a>
      </li>
   {{/ songs}}
</ul>

<div class="yt-player">
   <iframe src="http://www.youtube.com/embed/{{ song.hash }}" width="100%" height="300" frameborder="0"></iframe>
</div>