<h1>Music I've been enjoying as of late</h1>

<div class="yt-player-container"></div>

<ul>
   {{# songs}}
      <li>
         <a href="http://youtu.be/{{ hash }}">
            {{ title }}
         </a>
      </li>
   {{/ songs}}
</ul>