<h1 class='content-title'>A bunch of soliloquies</h1>

<ol class="posts">
   {{# posts}}
      <li>
         <a href="posts/read/{{ file }}">
            {{ title }}
         </a>
         <span class="date">
            {{ from }}
         </span>
      </li>
   {{/ posts}}
</ol>