<h1 class="content-title">The latest shabang</h1>

<div class="activity-posts">
   <h3>Writing</h3>
   <ul>
      {{# posts}}
         <li>
            <a href="posts/read/{{ file }}">
               {{ title }}
            </a>
         </li>
      {{/ posts}}
   </ul>
</div>

<div class="activity-songs">
   <h3>Listening</h3>
   <ul>
      {{# songs}}
         <li>
            <a href="http://youtu.be/{{ hash }}">
               {{ title }}
            </a>
         </li>
      {{/ songs}}
   </ul>
</div>

<div class="activity-books">
   <h3>Reading</h3>
   <ul>
      {{# books}}
         <li>
            <a href="posts/read/#{{ book }}">
               {{ title }}
            </a>
         </li>
      {{/ books}}
   </ul>
</div>

<div class="about">
   {{{ about }}}
</div>

<div class="credits foot-note">
   {{{ credits }}}
</div>