@import "tailwindcss";

@theme {
  --font-custom: "Manrope", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}

.page-break {
  page-break-before: always;
}

@font-face {
  font-family: Manrope;
  src: url('../public/Manrope-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Manrope;
  src: url('../public/Manrope-Bold.woff2') format('woff2');
  font-weight: bold;
}
