<h1 class='content-title'>A trail of rash thoughts</h1>

<ol class="thoughts">
   {{# thoughts }}
      <li>
         <a href="thoughts/capture/{{ file }}">
            {{ title }}
         </a>
      </li>
   {{/ thoughts }}
</ol>
